.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-bar .hyper-link-decoration {
  color: inherit;
  text-decoration: inherit;
}

.game-list-container {
  padding: 1rem;
}
.game-list {
  width: 100%;
}

.permanents-options {
  display: flex;
  align-items: flex-start;
  padding-bottom: 1rem;
}

.reactive-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border-top: 1px solid black;
}
