.container-login {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-login .form-login {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.status-log-in {
  margin: 1.5rem;
  padding: 0rem 4rem 0rem 4rem;
}

.status-log-in-loading {
  margin: 1.5rem;
  padding: 0rem 4rem 0rem 4rem;
  border: 1px solid yellow;
  border-radius: 50px;
}

.status-log-in-error {
  margin: 1.5rem;
  padding: 0rem 4rem 0rem 4rem;
  border: 1px solid red;
  border-radius: 50px;
}
